.section {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  display: flex;
  /* height: 680px; */
  height: 790px;
  position: relative;
}
.leftSide {
  display: flex;
  flex-direction: column;
  width: 65%;
}
